
<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 30px 0px">
    <div class="ui-grid-row">
                <span class="ui-float-label">
                    <input id="floatUserName" type="text" size="30" pInputText [(ngModel)]="user.user">
                    <label for="floatUserName">Username</label>
                </span>
    </div>
    <div style="height: 30px"> </div>
    <div class="ui-grid-row">
               <span class="ui-float-label">
                <input id="floatPassword" type="password" size="30" pInputText [(ngModel)]="user.password">
                <label for="floatPassword">Password</label>
               </span>
    </div>
    <div style="height: 30px"> </div>
    <div class="ui-grid-row">
               <span class="ui-float-label">
                <input id="floatNombre" type="text" size="30" pInputText [(ngModel)]="user.nombre">
                <label for="floatNombre">Nombre</label>
               </span>
    </div>
    <div style="height: 30px"> </div>
    <div class="ui-grid-row">
               <span class="ui-float-label">
                <input id="floatApellido" type="text" size="30" pInputText [(ngModel)]="user.apellido">
                <label for="floatApellido">Apellido</label>
               </span>
    </div>
    <div style="height: 30px"> </div>
    <div class="ui-grid-row">
                <span class="ui-float-label">
                    <input id="floatEMAIL" type="text" size="30" pInputText [(ngModel)]="user.email">
                    <label for="floatEMAIL">Email</label>
                </span>
    </div>
    <div style="height: 30px"> </div>
    <div class="ui-grid-row">
                <span class="ui-float-label">
                    <input id="floatDireccion" type="text" size="30" pInputText [(ngModel)]="user.direccion">
                    <label for="floatDireccion">Direccion</label>
                </span>
    </div>
    <div style="height: 30px"> </div>
    <div class="ui-grid-row">
                <span class="ui-float-label">
                    <input id="floatSexo" type="text" size="30" pInputText [(ngModel)]="user.sexo">
                    <label for="floatSexo">Sexo</label>
                </span>
    </div>
    <div style="height: 30px"> </div>
    <div class="ui-grid-row">
                <span class="ui-float-label">
                    <input id="floatTf" type="text" size="30" pInputText [(ngModel)]="user.telefono">
                    <label for="floatTf">Telefono</label>
                </span>
    </div>
    <div style="height: 30px"> </div>
    <div class="ui-grid-row">
                <span class="ui-float-label">
                    <input id="floatCl" type="text" size="30" pInputText [(ngModel)]="user.celular">
                    <label for="floatCl">Celular</label>
                </span>
    </div>

    <div style="height: 30px"> </div>
    <p-fileUpload class="ui-fileupload" chooseLabel="Fotito" name="demo[]" url="{{enviroment.host}}/api/image/save" (onUpload)="onUpload($event)"
                  multiple="false" accept="image/*" auto="true" >

        <ng-template pTemplate="content">
            <ul *ngIf="uploadedFiles.length">
                <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
            </ul>
        </ng-template>
    </p-fileUpload>
</div>
<button pButton type="button" (click)="register()" label="Success" class="ui-button-success"></button>

