<p-dialog header="Login" [(visible)]="displayLogin"  [width]="400" [minWidth]="200" [minY]="70"
          [maximizable]="true" [baseZIndex]="10000" >
    <app-login  (voted)="onlogin($event)"></app-login>
</p-dialog>
<p-dialog header="Register" [(visible)]="displayRegister" [modal]="true"  [width]="400" [minWidth]="200" [minY]="70"
          [maximizable]="true" [baseZIndex]="10000">
    <app-register (voted)="onRegister($event)"></app-register>
</p-dialog>
<p-toast position="bottom-left" ></p-toast>
<div class="layout-wrapper" >
    <div id="layout-topbar">

        <a href="#" class="logo" [routerLink]="['/']">
            <img alt="logo" src="assets/showcase/images/Captura2.png" />
        </a>
        <ul class="topbar-menu">
            <li>
                <a href="#" [routerLink]="['/setup']">DESTINOS</a>
            </li>
            <li>
                <a [routerLink]="['/support']">SERVICIOS</a>
            </li>
            <li>
                <a [routerLink]="['/piolin']">Pasajero Frecuente</a>
            </li>
            <li *ngIf="!currerntUser">
                <a (click)="showDialogLogin()" > info de Viaje </a>
            </li>
            <li *ngIf="!currerntUser">
                <a (click)="showDialogLogin()" > Nosotros </a>
            </li>
            <li *ngIf="!currerntUser">
                <a (click)="showDialogLogin()" > Login </a>
            </li>
            <li *ngIf="!currerntUser">
                <a (click)="showDialogRegister()" > REGISTER </a>
            </li>
            <li *ngIf="currerntUser">
                <a (click)="logOut()" > LOGOUT </a>
            </li>
            <li *ngIf="currerntUser">
                <a>
                    {{currerntUser.person.nombre}}
                    <img height="50" src="{{enviroment.host}}/api/image/get/{{currerntUser.person.idImage}}" alt="">
                </a>
            </li>
        </ul>
    </div>


    <div  id="layout-sidebar" [ngClass]="{'active': menuActive}" style="z-index: 100;" [style.display]="disp.leftMenuDisplay" *ngIf="currerntUser" >
        <div class="layout-menu">

            <a id="profile" [routerLink]="['/profile']">
                <img src="{{enviroment.host}}/api/image/get/{{currerntUser.person.idImage}}" class="layout-menu-icon-active"/>
                <img src="{{enviroment.host}}/api/image/get/{{currerntUser.person.idImage}}" class="layout-menu-icon-inactive"/>
                <span>Profile</span>
            </a>
            <a id="Ventas" [routerLink]="['/ventas']">
                <img src="assets/showcase/images/icons/overlay-active.svg" class="layout-menu-icon-active"/>
                <img src="assets/showcase/images/icons/overlay.svg" class="layout-menu-icon-inactive"/>
                <span>Ventas</span>
            </a>

            <a  [ngStyle]="{'display': mantenimientos}" id="button_mantenimientos" #buttonmantenimientos [class.active-menuitem]="buttonmantenimientos.id == activeMenuId" (click)="activeMenuId = (activeMenuId === buttonmantenimientos.id ? null : buttonmantenimientos.id)">
                <img src="assets/showcase/images/icons/llave2.png" class="layout-menu-icon-active"/>
                <img src="assets/showcase/images/icons/llave1.png" class="layout-menu-icon-inactive"/>
                <span>Mantenimientos</span>
            </a>

            <div [ngClass]="{'submenushow': (buttonmantenimientos.id == activeMenuId), 'submenuhide': (buttonmantenimientos.id != activeMenuId)}">
                <a [routerLink]="['/person/mantenimiento']" (click)="menuActive = false">&#9679; Personas</a>
                <a [routerLink]="['terminal/mantenimiento']" (click)="menuActive = false">&#9679; Terminales</a>
                <a [routerLink]="['itinerario/mantenimiento']" (click)="menuActive = false">&#9679; Itinerario</a>
                <a [routerLink]="['vehiculo/mantenimiento']" (click)="menuActive = false">&#9679; Vehiculo</a>
                <a [routerLink]="['reserva/mantenimiento']" (click)="menuActive = false">&#9679; Reserva</a>
            </div>
        </div>
    </div>



    <div class="layout-mask" *ngIf="menuActive">
    </div>

    <div id="layout-content" [style.margin-left]="disp.contentMarginLeft">
        <div>
            <router-outlet></router-outlet>
        </div>

        <div class="content-section layout-footer clearfix">
            <span>PrimeNG 6.1.0</span>
            <div class="footer-links">
                <a href="https://github.com/primefaces/primeng"><i class="fa fa-github"></i></a>
                <a href="https://twitter.com/prime_ng"><i class="fa fa-twitter"></i></a>
            </div>
        </div>
    </div>

</div>
