<kendo-pdf-export #pdf paperSize="A4" margin="2cm">

<p-toast [style]="{marginTop: '80px'}"></p-toast>
<p-table [columns]="cols" [value]="objetos" selectionMode="single" [(selection)]="objeto" (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="15">
    <ng-template pTemplate="caption">
        List of {{title}}
    </ng-template>
    <ng-template pTemplate="header" let-columns>
            <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                {{col.header}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>

        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
            <td *ngFor="let col of columns">
                <div ngSwitch="{{col.type}}">
                    <div *ngSwitchCase="'string'">
                        {{rowData[col.field]}}
                    </div>
                    <div *ngSwitchCase="'pasajero'">
                        {{rowData[col.field]['nombre']}}
                    </div>
                    <div *ngSwitchCase="'itinerario'">
                        {{rowData[col.field]["origen"]["nombreTerminal"]}}-
                        {{rowData[col.field]["destino"]["nombreTerminal"]}}
                        {{rowData[col.field]["vehiculo"]["modelo"]}}
                    </div>
                    <div *ngSwitchCase="'boolean'">
                        <p-toggleButton disabled="true" [(ngModel)]="rowData[col.field]" onLabel="activado" offLabel="desactivado" onIcon="pi pi-check" offIcon="pi pi-times" [style]="{'width':'150px'}"></p-toggleButton>
                    </div>
                    <div *ngSwitchCase="'string2'">
                        {{rowData[col.field[0]][col.field[1]]}}
                    </div>
                    <div *ngSwitchCase="'date'">
                        <!--{{ getDateToString(rowData[col.field])}}-->
                        {{ getDateToString(rowData['fechaReserva'])}}
                    </div>
                    <div *ngSwitchCase="'image'">
                        <img height="40" src="{{enviroment.host}}/api/image/get/{{rowData[col.field]}}" alt="">
                    </div>
                </div>
            </td>
        </tr>

    </ng-template>
    <ng-template pTemplate="summary" let-rowData>
        <div style="text-align:left">
            <button type="button" pButton icon="fa fa-plus" (click)="showDialogToAdd()" label="Add"></button>
            <button type="button" pButton icon="fa fa-print" kendo-button (click)="pdf.saveAs('invoice.pdf')" label="To Pdf"></button>

        </div>
    </ng-template>
</p-table>
</kendo-pdf-export>

<p-dialog header="{{title}} Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade">
    <div class="ui-g ui-fluid">
        <div class="ui-g-12" *ngFor="let x of cols">
            <div ngSwitch="{{x.type}}">
                <div *ngSwitchCase="'image'">
                    <div class="ui-g-4">
                        <label for="{{'idd'+x.header}}">{{x.header}}</label>
                    </div>
                    <div class="ui-g-8">
                        <input pInputText id="{{'idd'+x.header}}" [(ngModel)]="objeto[x.field]"/>
                    </div>
                    <p-fileUpload name="demo[]" url="{{enviroment.host}}/api/image/save" (onUpload)="onUpload($event)"
                                  auto="true"
                                  multiple="multiple" accept="image/*" maxFileSize="1000000">
                        <ng-template pTemplate="content">
                            <ul *ngIf="uploadedFiles.length">
                                <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                            </ul>
                        </ng-template>
                    </p-fileUpload>
                </div>

                <div *ngSwitchCase="'string'">
                    <div class="ui-g-4">
                        <label for="{{'id'+x.header}}">{{x.header}}</label>
                    </div>
                    <div class="ui-g-8">
                        <input pInputText id="{{'ids'+x.header}}" [(ngModel)]="objeto[x.field]"/>
                    </div>
                </div>
                <div *ngSwitchCase="'string2'">
                    <div class="ui-g-4">
                        <label for="{{'ids'+x.header}}">{{x.header}}</label>
                    </div>
                    <div class="ui-g-8">
                        <input pInputText id="{{'id'+x.header}}" [(ngModel)]="objeto[x.field[0]][x.field[1]]"/>
                    </div>
                </div>
                <div *ngSwitchCase="'pasajero'">
                    <div class="ui-g-4">
                        <label for="pasajero">{{x.header}}</label>
                    </div>
                    <div class="ui-g-8">
                        <app-combo-person-one [selected]="getPasajeroSelected()" id="pasajero"  (enviar)="cambiarPasajero($event)"></app-combo-person-one>
                    </div>
                </div>
                <div *ngSwitchCase="'itinerario'">
                    <div class="ui-g-4">
                        <label for="itinerario">{{x.header}}</label>
                    </div>
                    <div class="ui-g-8">
                        <app-combo-itinerario-one id="itinerario" [selected]="getItinerarioSelected()" (enviar)="cambiarItinerario($event)" ></app-combo-itinerario-one>
                    </div>
                </div>

                <div *ngSwitchCase="'date'">
                    <div class="ui-g-4">
                        <label for="dateorigen">{{x.header}}</label>
                    </div>
                       <div class="ui-g-8">
                        <p-calendar id="dateorigen" [showTime]="true" [(ngModel)]="objeto[x.field]" [showIcon]="true"></p-calendar>
                    </div>
                </div>
                <div *ngSwitchCase="'boolean'">
                    <div class="ui-g-4">
                        <label for="boolean{{x.header}}">{{x.header}}</label>
                    </div>
                    <div class="ui-g-8">
                        <p-toggleButton id="boolean{{x.header}}"  [(ngModel)]="objeto[x.field]" onLabel="activado" offLabel="desactivado" onIcon="pi pi-check" offIcon="pi pi-times" [style]="{'width':'150px'}"></p-toggleButton>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <button type="button" pButton icon="fa fa-close" (click)="delete()" label="Delete"></button>
            <button type="button" pButton icon="fa fa-check" (click)="save()" label="Save"></button>
        </div>
    </p-footer>
</p-dialog>
