<h1>Halcon Express S.A.C</h1>
<div class="ui-g">
    <div class="ui-g-3">
        <h1> Ruc :</h1>
    </div>
    <div class="ui-g-9">
        <h1> 205180422800 </h1>
    </div>

</div>

<div class="ui-g">
    <div class="ui-g-3">
        <h3> Direccion </h3>
    </div>
    <div class="ui-g-9">
        <h1> Terminal terrestre cusco </h1>
    </div>
</div>

<div class="ui-fluid">
    <div class="ui-g-8">
        <div class="ui-g">
            <div class="ui-g-4">
                <h3> Nombre :</h3>
            </div>
            <div class="ui-g-8">
                <h4> {{nombre}} </h4>
            </div>

        </div>
        <div class="ui-g">
            <div class="ui-g-4">
                <h3> Apellido : </h3>
            </div>
            <div class="ui-g-8">
                <h4> {{apellido}} </h4>
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-4">
                <h3> Dni :</h3>
            </div>
            <div class="ui-g-8">
                <h4> {{dni}} </h4>
            </div>

        </div>
    </div>
    <div class="ui-g-8">
        <div class="ui-g">
            <div class="ui-g-3">
                <h3> Boleta :</h3>
            </div>
            <div class="ui-g-9">
                <h4> {{boleta}} </h4>
            </div>

        </div>
    </div>
    <div class="ui-g-4">
        <div class="ui-g">
            <div class="ui-g-12">
                <h3> Total :</h3>
            </div>
            <div class="ui-g-12">
                <h4> {{total}} </h4>
            </div>
        </div>
    </div>
</div>







<button pButton type="button" label="GO" (click)="vender()" class="ui-button-success"></button>
